<!DOCTYPE html>
<html lang="en">
    <title>Block 49 - great residential sites</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">  
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-lightbox.min.css" rel="stylesheet">
    <link href="/assets/css/m-styles.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="thumbnail.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    
   